*,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}


/* fonts  */
h1,
h2,
h3,
h4 {
  font-family: 'baskerville-urw';
}

p,
li {
  font-family: 'raleway';
  font-size: 0.9em;
}


/* body */
body {
  background-color: #020008;
}


/* header beide pagina's*/
a {
  text-decoration: none;
}

ul {
  padding: 0.4em;
}

ul:last-of-type {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}

ul:first-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 8%;
  background-color: rgb(152, 125, 227);
}

.header1 li:nth-child(2) {
  padding: 0 1em 0 0;
}

li {
  list-style-type: none;
}

li a {
  color: white;
}

ul:first-of-type li a {
  color: black;
}

header img {
  width: 100%;
  height: 100%;
}


/*main pagina 1*/
main img {
  width: 100%;
}

main section:first-of-type article p {
  margin: 0 0 1em 0;
  padding: 0 1em;
}

main section:first-of-type article h2 {
  margin: 0.3em 0 0.1em 0;
  padding: 0 0.6em;
}

main section:first-of-type article {
  background-color: rgb(152, 125, 227);
  margin: 1em;
}

main section:first-of-type article {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  justify-content: center;
}

main section:first-of-type article {
  padding: 0;
}

main section:last-of-type {
  text-align: left;
  padding: 1em;
  background-color: rgb(140, 224, 245);
}

main section:last-of-type hr {
  margin: 0.5em 0;
  border: 1px solid black;
}


/* pagina 2 */

.pagina2 main section:nth-of-type(1) article:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  background-color: transparent;
}

.pagina2 main section:nth-of-type(1) article:nth-of-type(1) img:first-child {
  grid-column: span 3;
}

.pagina2 main section:first-of-type article p {
  padding: 0;
}

.pagina2 section:nth-of-type(1) article:nth-of-type(2) {
  max-width: 100%;
}

.pagina2 section:nth-of-type(1) article:nth-of-type(3) {
  background-color: transparent;
}

.pagina2 section:nth-of-type(1) article:nth-of-type(3) iframe {
  background-color: transparent;
  min-width: 100%;
  min-height: 70%;
}

.pagina2 main section:nth-of-type(1) p,
.pagina2 main h1 {
  color: white;
  margin: 0 1em;
}

.pagina2 main p {
  margin: 0 1em;
}

.pagina2 main h1 {
  margin: 0 0.5em;
  font-weight: 100;
  font-size: 2em;
}

.pagina2 main section:first-of-type article:nth-of-type(2) {
  background-color: transparent;
  margin: 0;
}

.pagina2 main section:nth-of-type(2) article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.pagina2 main section p {
  margin: 0;
}

.pagina2 section:nth-of-type(1) hr, .pagina2 section:nth-of-type(2) hr  {
  margin: 0.5em 1em;
  color: white;
}

.pagina2 h2 {
  color: white;
  margin: 1em 0 0 0.8em;
  font-size: 1.3em;
}

.pagina2 main section:nth-of-type(2) article h4 {
  color: white;
  text-align: center;
}

.pagina2 main section article img {
  box-shadow: 4px 4px 9px rgba(140, 224, 245, 0.561);
}

.pagina2 main section:nth-child(1) article:first-of-type img {
  box-shadow: none;
}

.pagina2 main h3:last-of-type {
  /* upcoming events rechts aan de zijkant zetten met kleur en gedraaid */
  transform: rotate(-90deg);
  background-color: rgb(140, 224, 245);
  position: absolute;
  top: 13em;
  right: -82px;
  padding: 0.5em;
}

.pagina2 main section h3:last-of-type {
  /* ongedaan maken van de bewerking hierboven voor in de section */
  transform: rotate(0);
  right: auto;
}

.pagina2 main h3:first-of-type {
  /* Vergelijkbare artiesten wit maken en in laten springen */
  color: white;
  margin: 1em 0 0 1em;
}

.pagina2 main section h3:first-of-type {
  /* ongedaan maken van de bewerking hierboven voor in de section */
  color: black;
  margin: 0;
}

.pagina2 section:nth-of-type(2) p {
  visibility: hidden;
}

/* upcoming events */
section:last-of-type {
  position: absolute;
  top: 20%;
  right: -1px;
  transform: translateX(100%);
  transition: 1s;
}

main section:last-of-type.toonUpcoming {
  transform: translateX(0%);
}

section:last-of-type h3:first-of-type {
  position: absolute;
  margin: 0;
  padding: .25em;
  background-color: inherit;
  top: 0;
  left: -10%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-rl;
  cursor: pointer;
}


/*footer beide pagina's*/
footer p {
  color: white;
  text-align: center;
  padding: 1em;
  background-color: #333;
  font-size: 90%;
}


/* responsive maken */

/*tablet */
@media screen and (min-width: 38em) {}


/*laptop*/
@media screen and (min-width: 57em) {

  /* header beide pagina's*/
  header img {
    width: 100%;
    height: 100px;
  }

  /* main pagina 1*/
  section:first-of-type {
    max-width: 60%;
  }

  /* main pagina 2 */
  .pagina2 section:first-of-type {
    max-width: 100%;
  }

  .pagina2 section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    margin: 0 0 0 1em;
  }

  .pagina2 section:nth-of-type(1) article:nth-of-type(2) {
    align-self: start;
  }

  .pagina2 section:nth-of-type(2) p {
    color: white;
    font-size: 0.7em;
    margin: 0 0 0 2em;
    visibility: visible;
  }

  /* effecten */
  ul:first-of-type a:hover {
    color: white;
  }

  ul:last-of-type a:hover {
    color: rgb(152, 125, 227);
    transition: 0.5s;
  }

  main section:nth-of-type(1) article:hover {
    background-color: rgb(140, 224, 245);
  }

  .pagina2 section:nth-of-type(1) article:hover {
    background-color: transparent;
  }

  @keyframes disco {
    0% {
      box-shadow: 4px 4px 9px rgb(152, 125, 227);
      transform:rotate(0);
    }
    12.5% {
      box-shadow: 4px 4px 9px red;
      
    }
    25% {
      box-shadow: 4px 4px 9px orange;
     
    }
    37.5% {
      box-shadow: 4px 4px 9px yellow;
      
    }
    50% {
      box-shadow: 4px 4px 9px lightgreen;
      
    }
    62.5% {
      box-shadow: 4px 4px 9px green;
      
    }
    75% {
      box-shadow: 4px 4px 9px lightblue;
      
    }
    87.5% {
      box-shadow: 4px 4px 9px blue;
      
    }
    100% {
      box-shadow: 4px 4px 9px rgb(152, 125, 227);
      transform:rotate(360deg);
    }
  }
  
  .pagina2 section:nth-of-type(2) article img:hover {
    animation-name: disco;
    animation-duration:10s;
    border-radius: 100%;
    transition: 1s;
    box-shadow: 4px 4px 9px rgb(152, 125, 227);
    cursor: pointer;
  }

  .pagina2 main section:nth-of-type(2) article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em 10em;
    padding: 2em;
  }
}